.button {
  min-width: 120px;
  min-height: 34px;
  border-radius: 4px;
  text-align: center;
}

.button-standard {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border: none;
}

.button-outlined {
  border: 1px solid var(--default-text-color);
  color: var(--default-text-color);
}
