.icon-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 13px;
  color: var(--default-text-color);
  text-align: left;
  border: none;
  background-color: transparent;
}

.icon-button:hover {
  background-color: #f4f6f8;
}

.icon-button > img {
  margin: 8px;
}

.icon-button-disabled {
  color: var(--disabled-color);
}

.icon-button-active {
  color: var(--primary-color);
}

.icon-button-disabled > img {
  color: var(--disabled-color);
}
