.icon-button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 13px;
  color: #212b35;
  text-align: left;
  border: none;
  background-color: transparent;
}

.icon-button:hover {
  background-color: #f4f6f8;
}

.icon-button > img {
  margin: 8px;
}

.icon-button-disabled {
  color: #c3cfd8;
}

.icon-button-active {
  color: #606dc5;
}

.icon-button-disabled > img {
  color: #c3cfd8;
}
