.side-bar-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: white;
  width: 235px;
  height: 100%; /*  todo */
}

.side-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}

.side-bar > ul {
  list-style: none;
  padding: 0;
}

.side-bar-item-icon {
  margin-right: 2rem;
}

.side-bar-page {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.side-bar-page > img {
  margin-right: 20px;
}
