.theme-list-container {
  position: absolute;
  transform: translate(235px, 0px);
  inset: 0 auto auto 0;
  z-index: 1000;
  width: 330px;
  height: 654px;
  background-color: var(--secondary-bg-color);
  overflow: hidden;
}

.theme-list-inner-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
